html {
    background-color: whitesmoke;
    font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
      "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
    color: #333;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  
  * {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  
  li {
    list-style: none;
  }
  
  .container {
    width: 80%;
    margin: auto;
    overflow: hidden;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
  }
  
  .wrapper {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 2rem;
    margin-bottom: 2rem;
  }
  
  .title {
    margin-top: 5%;
    grid-column: span 2;
    margin-bottom: 0.5rem;
  }
  
  .card {
    background-color: #fff;
    border-radius: 0.5rem;
    padding: 2rem;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
  }
  
  .input-group {
    display: flex;
    justify-content: space-between;
    gap: 1rem;
    margin-bottom: 1rem;
  }
  
  .guns-list-wrapper,
  .inventory-list-wrapper {
    padding: 1rem;
    background-color: #e2d5d5;
  }
  
  .gun-list,
  .inventory-list {
    gap: 1rem;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
  }
  
  .gun-list li,
  .inventory-list li {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 0.5rem;
    background-color: #fff;
    border-radius: 0.5rem;
    margin-bottom: 0.5rem;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
  }
  
  .total {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 1rem;
  }

  /*------ button -------*/
  
  button {
    grid-column: span 2;
    width: 6.8rem;
    height: 2.5rem;
    font-weight: bold;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    border: 1px solid #928c8c;
    border-radius: 0.5rem;
    background-color: #e2d5d5;
    color: #000 ;
    cursor: pointer;
    transition: all 0.3s ease-in-out;
   
  }

  .buy-btn{
    margin-bottom: 5%;
  }
  
  @media screen and (max-width: 968px) {
    .container .wrapper {
      grid-template-columns: 1fr;
    }
  
    .container .wrapper .title {
      grid-column: span 2;
    }
  
    .container .wrapper .card {
      grid-column: span 2;
    }
  }
  
  li.selected {
    background-color: chartreuse;
    color: black;
  }
  
  .popup-wrapper {
    display: none;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: white;
    padding: 2rem;
    border-radius: 0.5rem;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
    z-index: 100;
  }
  