 .box1{
    box-sizing:border-box ; 
    margin: 20px;
    padding: 20px;
    border: solid black;
}

.box2{
    box-sizing:border-box ; 
    margin: 20px;
    padding: 20px;
    border: solid black;
}