.ItemMenu {
  table {
    tr {
      td {
        padding: 5px;
      }
    }

    button {
      padding: 5px 8px;
    }

    input {
      width: 50px;
      &[type="checkbox"] {
        width: auto;
      }
    }
  }
}

.Item {
  text-wrap: nowrap;
}

.number {
  text-align: right;
}
