.main {
  width: 100vw;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 30px;
  flex-direction: column;
  h4 {
    text-align: center;
    font-weight: 600;
    font-size: 20px;
  }

  h3,
  h4 {
    margin: 0 !important;
  }

  button {
    font-family: inherit;
    padding: 10px 20px;
    border-radius: 5px;
    outline: none;
    border: 1px solid grey;
    // background: rgb(213, 204, 204);
    background: white;
  }

  input {
    border: none;
  }
}

.cardHolder {
  display: flex;
  flex-direction: row;
  gap: 30px;
}

.card {
  min-width: 20vw;
  padding: 30px;
  border: 1px solid grey;
  border-radius: 5px;
  display: flex;
  justify-content: center;
  flex-direction: column;
  gap: 15px;

  table {
    padding: 10px;
    background: #d9d8d8;
    border-radius: 5px;
    text-align: center;
    td,
    th {
      padding: 10px;
      margin: 10px 0;
      border-radius: 5px;
      border: 1px solid #cccccc;
      background: #efeeef;
    }

    td {
      button {
        display: inline-block;
        width: 10%;
        padding: 3px !important;
        margin: 0 !important;
        border-radius: 5px;
        cursor: pointer;
        // display: flex;
        // justify-content: center;
        // align-items: center;
      }
      label {
        display: inline-block;
        width: 80%;
      }
      button:first-child {
        margin-right: auto;
      }
      button:last-child {
        margin-left: auto;
      }
    }

    tr {
      gap: 10px;
    }
  }

  .rail {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 10px;

    input {
      max-width: 40px;
      padding: 10px;
      margin: 10px 0;
      border-radius: 5px;
      border: 1px solid #cccccc;
    }

    label {
      &:first-child {
        font-size: 20px;
        font-weight: 500;
        margin-right: auto;
      }

      &:last-child {
        margin-left: auto;
      }
    }
  }
}

@media only screen and (max-width: 600px) {
  .main {
    width: calc(100% - 20px);
    height: calc(100% - 20px);

    padding: 10px;
  }
  .cardHolder {
    flex-direction: column;
  }
}
